body {
    font-family: Arial, sans-serif;
    margin: 0; /* Usunięcie domyślnych marginesów */
    padding: 0; /* Usunięcie domyślnych wypełnień */
    height: 100vh; /* Wysokość widoku, aby wyśrodkować w pionie */
    display: flex; /* Użycie flexboxa do wyśrodkowania */
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    background-color: #dd9bcf;
}

.container {
    text-align: center;
}

h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 50px;
}

input[type="range"] {
    width: 700px; /* Szerokość suwaka */

}

span {
    font-weight: bold; /* Wyróżnienie wartości */
}
button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #ffbb00;
}
#heartsContainer,#heartsTopContainer,#heartsTopTOPContainer  {
    margin-top: 0px; /* Odstęp nad serduszkami */
    font-size: 2em; /* Zwiększenie rozmiaru serduszek */
}
